<!DOCTYPE html>
<html>
<head>
  <title>熟乐网</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <!-- Tag header is added in HTML5. -->
  <header><img src="/image/logo_small.png" alt="Ericsson Logo" /></header>
  {{{body}}}
</body>
</html>
